// fonts
@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Rubik:ital,wght@0,300;1,300&display=swap");
// CSS resets
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
  outline: none;
}
body {
  font-family: "Quicksand", sans-serif;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}
// styles
@import "forms";
