// CSS resets
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
  outline: none;
}
body {
  font-family: tahoma;
}
// styles
@import "forms";